@model FireEmblemTTRPG.Domain.Entities.Character

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Character</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level" class="control-label"></label>
                <input asp-for="Level" class="form-control" value=1/>
                <span asp-validation-for="Level" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Experience" class="control-label"></label>
                <input asp-for="Experience" class="form-control" value=0/>
                <span asp-validation-for="Experience" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatGrowth.HP" class="control-label"></label>
                <input asp-for="StatGrowth.HP" class="form-control" value=0/>
                <span asp-validation-for="StatGrowth.HP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatGrowth.Str" class="control-label"></label>
                <input asp-for="StatGrowth.Str" class="form-control" value=0/>
                <span asp-validation-for="StatGrowth.Str" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatGrowth.Mag" class="control-label"></label>
                <input asp-for="StatGrowth.Mag" class="form-control" value=0/>
                <span asp-validation-for="StatGrowth.Mag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatGrowth.Skl" class="control-label"></label>
                <input asp-for="StatGrowth.Skl" class="form-control" value=0/>
                <span asp-validation-for="StatGrowth.Skl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatGrowth.Spd" class="control-label"></label>
                <input asp-for="StatGrowth.Spd" class="form-control" value=0/>
                <span asp-validation-for="StatGrowth.Spd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatGrowth.Lck" class="control-label"></label>
                <input asp-for="StatGrowth.Lck" class="form-control" value=0/>
                <span asp-validation-for="StatGrowth.Lck" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatGrowth.Def" class="control-label"></label>
                <input asp-for="StatGrowth.Def" class="form-control" value=0/>
                <span asp-validation-for="StatGrowth.Def" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatGrowth.Res" class="control-label"></label>
                <input asp-for="StatGrowth.Res" class="form-control" value=0/>
                <span asp-validation-for="StatGrowth.Res" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatGrowth.Mov" class="control-label"></label>
                <input asp-for="StatGrowth.Mov" class="form-control" value=0/>
                <span asp-validation-for="StatGrowth.Mov" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrowthRate.HPGrowthRate" class="control-label">HP Growth</label>
                <input asp-for="GrowthRate.HPGrowthRate" class="form-control" value=40 />
                <span asp-validation-for="GrowthRate.HPGrowthRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrowthRate.StrGrowthRate" class="control-label">Str Growth</label>
                <input asp-for="GrowthRate.StrGrowthRate" class="form-control" value=40 />
                <span asp-validation-for="GrowthRate.StrGrowthRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrowthRate.MagGrowthRate" class="control-label">Mag Growth</label>
                <input asp-for="GrowthRate.MagGrowthRate" class="form-control" value=40 />
                <span asp-validation-for="GrowthRate.MagGrowthRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrowthRate.SklGrowthRate" class="control-label">Skl Growth</label>
                <input asp-for="GrowthRate.SklGrowthRate" class="form-control" value=40 />
                <span asp-validation-for="GrowthRate.SklGrowthRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrowthRate.SpdGrowthRate" class="control-label">Spd Growth</label>
                <input asp-for="GrowthRate.SpdGrowthRate" class="form-control" value=40 />
                <span asp-validation-for="GrowthRate.SpdGrowthRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrowthRate.LckGrowthRate" class="control-label">Lck Growth</label>
                <input asp-for="GrowthRate.LckGrowthRate" class="form-control" value=40 />
                <span asp-validation-for="GrowthRate.LckGrowthRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrowthRate.DefGrowthRate" class="control-label">Def Growth</label>
                <input asp-for="GrowthRate.DefGrowthRate" class="form-control" value=40 />
                <span asp-validation-for="GrowthRate.DefGrowthRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrowthRate.ResGrowthRate" class="control-label">Res Growth</label>
                <input asp-for="GrowthRate.ResGrowthRate" class="form-control" />
                <span asp-validation-for="GrowthRate.ResGrowthRate" class="text-danger"></span>
            </div>   
            <div class="form-group">
                <label asp-for="Classes" class="control-label">Classes</label>
                <select asp-for="Classes" class="form-control" id="inlineFormCustomSelct">
                    <option selected>Choose...</option>
                    <option value=19>Tactician</option>
                </select>
                <span asp-validation-for="Classes" class="text-danger"></span>
            </div>
              <div class="form-group">
                <label asp-for="Weapons" class="control-label">Weapons</label>
                <select asp-for="Weapons" class="form-control" id="inlineFormCustomSelct">
                    <option selected>Choose...</option>
                    <option value=5>Bronze Sword</option>
                </select>
                <span asp-validation-for="Weapons" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
